@font-face {
  font-family: 'title';
  src: url("./fonts/Humble-9Y117.otf");
}

* {
  padding: 0;
  margin: 0;
}

.main div {
  font-family: sans-serif;
}

.navbar {
  background-color:  rgb(233, 219, 207);
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
  font-family: sans-serif;
  box-shadow: 0 0 10px;
  margin-bottom: 5px;
  gap: 25px;
}

.content {
  background-color: rgb(233, 219, 207);
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  box-shadow: 0 5px 15px;
  text-align: center;
  padding: 15px;

  margin-bottom: 150px;
}

.content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.main h1 {
  flex: 3;
  font-family: 'title';
  font-size: 5rem;
  margin-bottom: 50px;
  padding-top: 50px;
}

.navbar a {
  /* flex: 1; */
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.5rem;
}

.navbar a:hover {
  background-color: rgb(185, 198, 210);
  border-radius: 15%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro {
  text-align: center;
  font-family: sans-serif;
}

.img {
  max-width: 70%;
  border-radius: 15px;
}

footer {
  background-color:  rgb(233, 219, 207);
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: sans-serif;
  margin-bottom: 50px;
  gap: 4px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}